@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Metal+Mania');

@font-face {
	font-family: 'Booter - Zero Zero';
	src: url('Fonts/Booter - Zero Zero.woff') format('woff'),
		url('Fonts/Booter - Zero Zero.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

:root {
	--primaryColor: #f09d51;
	--mainWhite: #fff;
	--mainBlack: #222;
	--mainGrey: #ececec;
	--mainSpacing: 0.1rem;
	--mainTransition: all 0.3s linear;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	color: var(--mainBlack);
	background: var(--mainWhite);
	font-family: 'Lato', sans-serif;
}

/* --------------- Navbar ---------------- */

.nav {
	position: sticky;
	top: 0;
	height: 60px;
	width: 100%;
	display: flex;
	align-items: center;
	background: var(--mainBlack);
	z-index: 1;
}

.main-nav {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	display: flex;
	font-size: 1.1rem;
	align-items: center;
	justify-content: space-between;
	padding: 0 1.5rem;
}

.nav ul {
	margin: 0;
}

.nav li {
	display: inline;
}

.nav a {
	display: inline-block;
	padding: 0.5em;
	color: white;
	text-decoration: none;
}

.nav-logo {
	text-align: center;
	margin: 0;
	font-size: 2.5rem;
	font-family: 'Metal Mania';
	font-weight: normal;
	color: white;
}
/* --------------- End of Navbar ---------------- */
/* --------------- Hero ---------------- */
.hero {
	min-height: calc(100vh - 60px);
	background-color: rgba(0, 0, 0, 0.6);
	background-image: url('Images/band_members.jpg');
	background-blend-mode: multiply;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
}
.banner {
	text-align: center;
	display: inline-block;
	padding: 2rem;
}
.banner-title {
	font-size: 3.4rem;
	color: var(--mainWhite);
	text-transform: capitalize;
	letter-spacing: var(--mainSpacing);
	margin-bottom: 3rem;
}

.banner-logo {
	font-size: 5.5rem;
	font-family: 'Metal Mania';
	color: var(--mainWhite);
	text-transform: uppercase;
	letter-spacing: var(--mainSpacing);
	margin-bottom: 3rem;
}
.banner-btn {
	padding: 1rem 3rem;
	text-transform: uppercase;
	letter-spacing: var(--mainSpacing);
	font-size: 1rem;
	background: var(--primaryColor);
	color: var(--mainBlack);
	border: 1px solid var(--primaryColor);
	transition: var(--mainTransition);
	cursor: pointer;
}
.banner-btn:hover {
	background: transparent;
	color: var(--primaryColor);
}
/* --------------- End of Hero ---------------- */
/* --------------- Store Hero ---------------- */
.hero-store {
	min-height: calc(100vh - 60px);
	background-color: rgba(0, 0, 0, 0.6);
	background-image: url('Images/band_members2.jpg');
	background-blend-mode: multiply;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
}
.banner-store {
	text-align: center;
	background: rgba(255, 255, 255, 0.8);
	display: inline-block;
	padding: 2rem;
}
.banner-title-store {
	font-size: 3.4rem;
	text-transform: uppercase;
	letter-spacing: var(--mainSpacing);
	margin-bottom: 3rem;
}
.banner-btn {
	padding: 1rem 3rem;
	text-transform: uppercase;
	letter-spacing: var(--mainSpacing);
	font-size: 1rem;
	background: var(--primaryColor);
	color: var(--mainBlack);
	border: 1px solid var(--primaryColor);
	transition: var(--mainTransition);
	cursor: pointer;
}
.banner-btn:hover {
	background: transparent;
	color: var(--primaryColor);
}
/* --------------- End of Store Hero ---------------- */

.content-section {
	margin: 1rem;
}

.container {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 1.5rem;
}
.section-header {
	font-family: 'Metal Mania';
	font-weight: normal;
	color: var(--mainWhite);
	text-align: center;
	font-size: 2.5rem;
}

.about-p {
	color: rgba(255, 255, 255, 0.8);
	font-size: 1.2rem;
	line-height: 1.5rem;
	text-align: left;
}
